/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

#footer {
  position: fixed;
  bottom: 10px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  padding-top: 1em;
  background-color: #f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 90px 15px 0;
}

#map-canvas {
  height: 400px;
  margin-bottom: 25px;
}

.msg-container {
  margin-bottom: 25px;
}

#footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
