<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Monitor audio and metadata on the NorCal Digital Mobile Radio (DMR) Network (http://www.norcaldmr.org)">
    <meta name="author" content="Glenn Rempe - K6GDR - (glenn@rempe.us)">
    <!-- <link rel="shortcut icon" href="/ico/favicon.ico"> -->

    <title>DMR Watch</title>

    <!-- Bootstrap core CSS -->
    <link href="/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/app.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/js/ie10-viewport-bug-workaround.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/components/html5shiv/dist/html5shiv.min.js"></script>
      <script src="/components/respond/dest/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">

        <div class="navbar-header">
          <span class="navbar-brand">DMR Watch</span>
          <p class="navbar-text">Realtime Monitoring of the <a href="http://www.norcaldmr.org/" target="_blank">NorCal DMR</a> Amateur Radio Network</p>
        </div>

      </div> <!-- .container -->
    </div> <!-- .navbar -->

    <div class="container">

      <!-- Nav tabs -->
      <ul id="main-tablist" class="nav nav-pills" role="tablist">
        <li class="active"><a href="#onair" role="tab" data-toggle="tab">ON AIR</a></li>
        <li><a href="#about" role="tab" data-toggle="tab">About</a></li>
        <li><a href="#donate" role="tab" data-toggle="tab">Donate</a></li>
      </ul>

      <div class="tab-content">

        <div class="tab-pane fade in active" id="onair">
          <%= @inner %>
        </div> <!-- .tab-pane -->

        <div class="tab-pane fade" id="about">
          <div class="page-header">
            <h1>About <small>DMR Watch</small></h1>
          </div>
        </div>  <!-- .tab-pane -->

        <div class="tab-pane fade" id="donate">

          <div class="page-header">
            <h1>Please Donate <small>you'll enjoy it.</small></h1>
          </div>

          <blockquote>
            <p>No one is useless in this world who lightens the burdens of another.</p>
            <footer>Charles Dickens in <cite title="Dr. Marigold">Dr. Marigold</cite></footer>
          </blockquote>

          <div class="row">
            <div class="col-xs-9">
              <p>I hope you are enjoying using this site. It is the result of many hours of effort. DMR Watch takes significant time and expense to maintain and I depend on your donations to keep it running. Server hosting and bandwidth costs are not trivial and the bill comes every month. Please consider an ongoing recurring donation using Gittip, however even a one time donation is very much appreciated.</p>

              <p>Thank you.</p>
              <p>Glenn Rempe (K6GDR)</p>
            </div>
          </div>

          <br />
          <br />

          <div class="row">

            <div class="col-xs-3">
              <p class="h4">Gittip:</p>
              <script data-gittip-username="grempe" src="//gttp.co/v1.js"></script>
            </div> <!-- .col -->

            <div class="col-xs-3">
              <p class="h4">Paypal:</p>
              <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="56XJZTX7B422J">
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
              </form>
            </div> <!-- .col -->

            <div class="col-xs-3">

              <p class="h4">Bitcoin:</p>

              <div>
                <a href="bitcoin:1GqP6HS35nbgSjoYaY6JWGhznxzujC6sNN?amount=0.5&label=Glenn%20Rempe">
                <img src="/static/images/bitcoin-1GqP6HS35nbgSjoYaY6JWGhznxzujC6sNN.png" width="100px"></a>
                <p>1GqP6HS35nbgSjoYaY6JWGhznxzujC6sNN</p>
              </div>

            </div> <!-- .col -->

          </div>  <!-- .row -->

        </div>  <!-- .tab-pane -->

      </div> <!-- .tab-content -->

    </div> <!-- .container -->

    <!-- Begin footer content -->
    <div class="footer">
      <div class="container">
        <div class="row">

          <div class="col-xs-6 text-muted">
            &copy; Copyright 2014 - Glenn Rempe - <a href='http://callook.info/K6GDR' target='_blank'>K6GDR</a> - <a href='mailto:glenn@rempe.us'>glenn@rempe.us</a>
          </div>

          <div class="col-xs-6 text-muted">
            <a href="https://github.com/grempe/dmr-watch" target='_blank'>GitHub</a>&nbsp;|&nbsp;<a href="https://github.com/grempe/dmr-watch/issues" target='_blank'>File a Bug</a>&nbsp;|&nbsp;<a href="http://www.dmr-marc.net/contact.html" target='_blank'>Add/Update DMR-MARC Data</a>
          </div>

        </div> <!-- .row -->
      </div> <!-- .container -->
    </div> <!-- .footer -->

    <script src="/components/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="/components/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/components/moment/min/moment-with-locales.min.js" type="text/javascript"></script>
    <script src="/components/moment-timezone/builds/moment-timezone.min.js" type="text/javascript"></script>
    <script src="/js/phoenix.js" type="text/javascript"></script>
    <script src="https://blockchain.info//Resources/wallet/pay-now-button.js" type="text/javascript"></script>
    <script src="/js/app.js" type="text/javascript"></script>

    <!-- GOOGLE MAPS -->
    <script src="https://maps.googleapis.com/maps/api/js?libraries=visualization&key=AIzaSyA_5BmMgEsx9Mar1jXCj3NEIpsyPPsOoXk" type="text/javascript"></script>

    <!-- crypto-js : https://code.google.com/p/crypto-js/ -->
    <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/sha1.js"></script>

    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(37.688889 , -97.336111), // US Centerpoint : Near Wichita, KS
          zoom: 4,
          minZoom: 2,
          mapTypeId: 'terrain',
          keyboardShortcuts: false,
          scrollwheel: false
        };

        // 'this.map' is the key to allowing adding markers after the fact
        // see : http://stackoverflow.com/questions/6335620/adding-markers-to-google-maps-v3-after-map-created
        this.map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
      }
      google.maps.event.addDomListener(window, 'load', initialize);

      // Usage:
      // loc = new google.maps.LatLng(40.804562 , -73.364422);
      // addMarker(loc, title, icon, radius);
      //
      var markers=[];
      function addMarker(location, title, icon, radius, linkedLocation) {

        // Don't add duplicate markers. Determine this
        // by hashing the params to this function and storing
        // in an associative array and checking each time we
        // want to add a marker to see if its already added.
        // Using a SHA1 hash is a bit of overkill but it does
        // the job well.
        var hash = CryptoJS.SHA1(location + title + icon + radius + linkedLocation);

        if(!markers[hash])
        {
          markers[hash]=true;

          if (radius >= 75000) {
            var fillColor = '#6666FF' // blue
            var zIndex = 1
          } else {
            var fillColor = '#FFFF66' // yellow
            var zIndex = 99
          }

          marker = new google.maps.Marker({ position: location,
                                            map: this.map,
                                            title: title,
                                            animation: google.maps.Animation.DROP,
                                            icon: icon,
                                            zIndex: zIndex });

          // Add circle overlay and bind to marker
          if (radius > 0) {
            var circle = new google.maps.Circle({
              map: this.map,
              radius: radius,    // metres
              fillColor: fillColor,
              fillOpacity: 0.2,
              strokeColor: fillColor,
              strokeWeight: 1,
              zIndex: zIndex
            });
            circle.bindTo('center', marker, 'position');
          }

          // Add polyline overlay between subscriber and repeater
          if (linkedLocation) {
            var transmitCoordinates = [
              location,
              linkedLocation
            ];

            var transmitPath = new google.maps.Polyline({
              path: transmitCoordinates,
              geodesic: true,
              strokeColor: '#FF3300',
              strokeOpacity: 1.0,
              strokeWeight: 1,
              zIndex: 99
            });

            transmitPath.setMap(this.map);

          }

        }

      }
    </script>

  </body>

</html>
