<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Monitor audio and metadata on the NorCal Digital Mobile Radio (DMR) Network (http://www.norcaldmr.org)">
    <meta name="author" content="Glenn Rempe - K6GDR - (glenn@rempe.us)">
    <!-- <link rel="shortcut icon" href="/ico/favicon.ico"> -->

    <title>DMR Watch</title>

    <!-- Bootstrap core CSS -->
    <link href="/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/app.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/components/html5shiv/dist/html5shiv.min.js"></script>
      <script src="/components/respond/dest/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">DMR Watch</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav pull-right">
            <li id="cnxn-status"><span class="label label-default">connecting</span></li>
          </ul>

        </div><!--/.nav-collapse -->
      </div>
    </div>

    <!-- Begin page content -->
    <div class="container">
      <%= @inner %>
    </div>

    <!-- Begin footer content -->
    <div id="footer">
      <div class="container">
        <div class="row">
        </div><!-- /.row -->
      </div>
    </div>

    <script src="/components/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="/components/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/components/moment/min/moment-with-locales.min.js" type="text/javascript"></script>
    <script src="/components/moment-timezone/builds/moment-timezone.min.js" type="text/javascript"></script>
    <script src="/js/phoenix.js" type="text/javascript"></script>
    <script src="/js/app.js" type="text/javascript"></script>

    <!-- GOOGLE MAPS -->
    <script src="https://maps.googleapis.com/maps/api/js?libraries=visualization&key=AIzaSyA_5BmMgEsx9Mar1jXCj3NEIpsyPPsOoXk" type="text/javascript"></script>

    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(17.059417 , -96.721622),
          zoom: 2,
          mapTypeId: 'terrain'
        };
        // this.map is the key to allowing adding markers after the fact
        // see : http://stackoverflow.com/questions/6335620/adding-markers-to-google-maps-v3-after-map-created
        this.map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    <!-- END GOOGLE MAPS -->



  </body>

</html>
